.todo-item-container {
  display: flex;
  font-size: 1.5rem;
}

.todo-item-text {
  width: 90%;
}

.todo-item-buttons {
  width: 10%;
}

.todo-item-button {
  width: 50%;
  border: none;
  background-color: #fff;
}
